
.password-strength {
  display: block;
  height: 16px;
  position: relative;
      margin-bottom: 10px;
}

.password-strength::after {
  content: attr(title);
  border-radius: 0.25rem;
  color: #fff;
  font-size: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  transition: width 400ms ease-in-out;
  text-align: center;
}


.password-strength[title='Min. 8 caracteres']::after {
  background-color: #e74c3c;
  width: 40%
}

.password-strength[title='Fraca (Use letras)']::after {
  background-color: #e74c3c;
  width: 60%
}

.password-strength[title='Média']::after {
  background-color: #f1c40f;
  width: 80%
}

.password-strength[title='Forte']::after {
  background-color: #2ecc71;
  width: 90%
}

.password-strength[title='Muito Forte!']::after {
  background-color: #2ecc71;
  width: 100%
}

